/*
 * Lily58 - ZMK keymap mejorado para desarrollo
 * - Home row mods
 * - Layer-taps bien definidos
 * - Lower = símbolos / funciones
 * - Raise = navegación / edición
 * - Adjust = BT / RGB / sistema / numpad
 *
 * Ajusta tiempos si notas falsos hold o taps.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    behaviors {
        hrm: home_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MODS";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <500>;
            quick-tap-ms = <0>;
            require-prior-idle-ms = <120>;
            bindings = <&kp>, <&kp>;
        };

        ltm: layer_tap_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_MOD";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <120>;
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BASE";
            bindings = <
/* ┌────────┬────┬────┬────┬────┬────┐                    ┌────┬────┬────┬────┬────┬────────┐
 * │ ESC    │ 1  │ 2  │ 3  │ 4  │ 5  │                    │ 6  │ 7  │ 8  │ 9  │ 0  │ MINUS  │
 * │ TAB    │ Q  │ W  │ E  │ R  │ T  │                    │ Y  │ U  │ I  │ O  │ P  │ EQUAL  │
 * │ LSHFT  │ A  │ S  │ D  │ F  │ G  │                    │ H  │ J  │ K  │ L  │ ;  │ SQT    │
 * │ LCTRL  │ Z  │ X  │ C  │ V  │ B  │ MUTE     BT_CLR   │ N  │ M  │ ,  │ .  │ /  │ RSHFT  │
 *                    │LALT│LGUI│LOWR│ SPC│       ENT│RASE│BSPC│ DEL│
 *                    └────┴────┴────┴────┘       └────┴────┴────┴────┘
 */
                &kp ESC    &kp N1         &kp N2         &kp N3         &kp N4         &kp N5                         &kp N6         &kp N7         &kp N8          &kp N9          &kp N0           &kp MINUS
                &kp TAB    &kp Q          &kp W          &kp E          &kp R          &kp T                          &kp Y          &kp U          &kp I           &kp O           &kp P            &kp EQUAL
                &kp LSHFT  &kp A          &kp S          &kp D          &kp F          &kp G                          &kp H          &hrm RSHFT J   &hrm RCTRL K    &hrm RALT L     &hrm RGUI SEMI   &kp SQT
                &kp LCTRL  &kp Z          &kp X          &kp C          &kp V          &kp B          &kp C_MUTE   &ext_power EP_TOG      &kp N          &kp M          &kp COMMA       &kp DOT         &kp FSLH         &kp RSHFT
                                        &kp LALT       &kp LGUI       &mo 1          &kp SPACE    &ltm 2 ENTER   &mo 2          &kp BSPC       &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        lower_layer {
            display-name = "LOWER";
            bindings = <
/* LOWER = símbolos / funciones / programación
 * Mantengo números arriba y dejo símbolos frecuentes accesibles.
 */
                &trans     &kp F1         &kp F2         &kp F3         &kp F4         &kp F5                         &kp F6         &kp F7         &kp F8          &kp F9          &kp F10          &kp F11
                &kp GRAVE  &kp EXCL       &kp AT         &kp HASH       &kp DLLR       &kp PRCNT                      &kp CARET      &kp AMPS       &kp ASTRK       &kp LPAR        &kp RPAR         &kp PIPE
                &trans     &kp LBKT       &kp LBRC       &kp LPAR       &kp UNDER      &kp MINUS                      &kp PLUS       &kp EQUAL      &kp RBKT        &kp RBRC        &kp BSLH         &kp F12
                &trans     &trans         &trans         &trans         &trans         &trans         &trans        &trans          &trans         &trans         &trans          &trans          &trans           &trans
                                        &trans         &trans         &trans         &trans          &trans         &trans          &trans         &trans
            >;
        };

        raise_layer {
            display-name = "RAISE";
            bindings = <
/* RAISE = navegación / edición / ventanas / pestañas */
                &trans     &trans         &trans         &trans         &trans         &trans                         &trans         &trans         &trans          &trans          &trans           &trans
                &trans     &kp LC(Z)      &kp LC(X)      &kp LC(C)      &kp LC(V)      &kp LC(Y)                      &kp HOME       &kp PG_DN       &trans         &kp PG_UP       &kp END          &kp INS
                &trans     &kp LG(LEFT)   &kp LG(RIGHT)  &kp LC(LEFT)   &kp LC(RIGHT)  &kp LA(DOWN)                   &kp LEFT       &kp DOWN       &kp UP          &kp RIGHT       &trans           &trans
                &trans     &kp LC(A)      &kp LC(F)      &kp LC(S)      &kp LC(P)      &kp LS(LA(DOWN)) &trans      &trans          &kp LG(LC(LEFT)) &kp LC(LS(TAB)) &kp LC(TAB)    &kp LG(LC(RIGHT)) &trans           &trans
                                        &trans         &trans         &trans         &trans          &trans         &trans          &trans         &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        adjust_layer {
            display-name = "ADJUST";
            bindings = <
/* ADJUST = Bluetooth / RGB / sistema / numpad */
                &bt BT_CLR         &bt BT_SEL 0      &bt BT_SEL 1      &bt BT_SEL 2      &bt BT_SEL 3      &bt BT_SEL 4                     &bootloader   &sys_reset    &trans          &trans          &trans          &trans
                &ext_power EP_TOG  &rgb_ug RGB_TOG   &rgb_ug RGB_HUD   &rgb_ug RGB_HUI   &rgb_ug RGB_SAD   &rgb_ug RGB_SAI                  &rgb_ug RGB_EFF &kp N7       &kp N8          &kp N9          &kp ASTRK       &trans
                &trans             &rgb_ug RGB_BRD   &rgb_ug RGB_BRI   &trans            &trans            &trans                           &trans        &kp N4        &kp N5          &kp N6          &kp MINUS       &trans
                &trans             &trans            &trans            &trans            &trans            &trans            &trans         &trans          &trans        &kp N1          &kp N2          &kp N3          &kp PLUS        &trans
                                                  &trans            &trans            &trans            &trans         &trans          &kp N0        &kp DOT         &kp EQUAL
            >;
        };
    };
};